body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: rgb(151, 35, 223);
    padding: 15px;
    display: flex;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    font-size: large;
    font-weight: bold;
}

.containerCabecalho{
    display: flex;
    gap:20px;
    padding-left: 10px;
    padding-right: 10px;
}

.cabecalho{
    margin-left: auto;
}

.tela {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    flex-grow: 1; 
}

.telaCriar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

.card{
    background-color: #ab71d1;
    border-radius: 8px;
    border-style: double;
    padding: 15px; 
    padding-bottom: 20px;        
    width: 300px;          
    height: 180px;     
    color: white;
}


.botaoCriar{

    margin-top: 15px;
    padding: 20px;
    width: 200;
    border-radius: 5px;
    background-color: #6f00b3;
    font-size: large;
    color: #fff;
    font-weight: bold;
    border: none;

}

.forms {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 12px;
    padding-bottom: 20px;
    width: 500px;
    height: 550px;
    background-color: #9B36DF; 
    border-radius: 8px;

    color: #f0ecec;
}

.inputForm {
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 5px;
}

.labelForm{
    font-weight: bolder;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}

.BotaoForms {
    padding: 13px;
    border-radius: 8px;
    background-color: #6f00b3;
    color: #fff;
    font-weight: bold;

}
