body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: rgb(151, 35, 223);
    padding: 15px;
    display: flex;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    font-size: large;
    font-weight: bold;
}

.containerCabecalho{
    display: flex;
    gap:20px;
    padding-left: 10px;
    padding-right: 10px;
}

.cabecalho{
    margin-left: auto;
}

.tela{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}


.botaoCriar{

    margin-top: 15px;
    padding: 20px;
    width: 120px;
    border-radius: 5px;
    background-color: #6f00b3;
    font-size: large;
    color: #fff;
    font-weight: bold;
    border: none;

}

.botaoReload{
    margin-top: 15px;
    padding: 20px;
    width: 100px;
    border-radius: 200px;
    background-color: #6f00b3;
    color: #fff;
    font-weight: bold;
    border: none;

}